.topbar {
    height: $topbar-base-height;

    #sidebarToggleTop {
        height: 2.5rem;
        width: 2.5rem;

        &:hover {
            background-color: $gray-200;
        }

        &:active {
            background-color: $gray-300;
        }
    }

    .navbar-search {
        width: 25rem;

        input {
            font-size: 0.85rem;
            height: auto;
        }
    }

    .topbar-divider {
        width: 0;
        border-right: 1px solid $border-color;
        height: calc(#{$topbar-base-height} - 2rem);
        margin: auto 1rem;
    }

    .nav-item {
        .nav-link {
            height: $topbar-base-height;
            display: flex;
            align-items: center;
            padding: 0 0.75rem;

            &:focus {
                outline: none;
            }
        }

        &:focus {
            outline: none;
        }
    }

    .dropdown {
        position: static;

        .dropdown-menu {
            width: calc(100% - #{$grid-gutter-width});
            right: $grid-gutter-width / 2;
        }
    }

    .dropdown-list {
        padding: 0;
        border: none;
        overflow: hidden;

        .dropdown-item {
            white-space: normal;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            line-height: 1.3rem;

            &:active {
                background-color: $gray-200;
                color: $gray-900;
            }
        }
    }
}