// Override Bootstrap default variables here

// Colores
$blue: #4e73df;
$white: #fff;
$color-sombra: #3a3b4526;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
