/* Fonts */
@import url('https://fonts.bunny.net/css?family=Nunito');
/* Variables */
@import 'variables';
/* Bootstrap */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

*{
    margin: 0;
    padding: 0;
}


.bg-colorPrincipal{
    background-color: #d8d5d5;
}

.bg-colorSecundario{
    background-color: #F7F7F9;
}
.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#20c74a,#2ba11b);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#d4c81d,#ffcb80);
}

.bg-c-red {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card:hover{
    background: linear-gradient(45deg,#8b7a7a65,#d6d6d6);
    color: black;
}
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 7px;
}

.card-block  p {
    font-size: 1.3em;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}


/* Boton para crear */
#botonCrear {
    text-decoration: none;
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }

  #botonCrear span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  #botonCrear svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  #botonCrear:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }

  #botonCrear:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }

  #botonCrear:hover span {
    transform: translateX(5em);
  }

  #botonCrear:active {
    transform: scale(0.95);
  }

  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }

    to {
      transform: translateY(-0.1em);
    }
  }

/* Estilo para botones circulares */
.rounded-circle {
    border-radius: 50% !important;
}

/* Estilo header */
.img-profile{
    height: 2rem;
    width: 2rem;
}

.img-logo{
    height: 3.5rem;
    width: 3.5rem;
}

/* Estilo imagen login */
.img-login{
    max-width: 100%;
    height: 90%;
    border-radius: 5px;
}

/* Estilo sombreado */
.shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}


/* Estilo para menú lateral */
.sidebar {
    width: 100%;
    min-height: 135vh;
    background: royalblue;
}

.sidebar .nav-item {
    position: relative;
    margin-left: 32%;
}

.sidebar .nav-item:last-child {
    margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 6.5rem;
}

.sidebar .nav-item .nav-link span {
    font-size: 1rem;
    display: block;

}

.sidebar .nav-item .collapse {
    position: absolute;
    left: calc(6.5rem + 1rem / 2);
    z-index: 1;
    top: 2px;
}

.sidebar #sidebarToggle {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
}

.sidebar #sidebarToggle::after {
    font-weight: 900;
    margin-right: 0.1rem;
}

.sidebar #sidebarToggle:hover {
    text-decoration: none;
}

.sidebar #sidebarToggle:focus {
    outline: none;
}

.sidebar.toggled {
    width: 0 !important;
    overflow: hidden;
}

.sidebar.toggled #sidebarToggle::after {
    margin-left: 0.25rem;
}

.sidebar.toggled .sidebar-card {
    display: none;
}

.sidebar .sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: 1;
}

.sidebar .sidebar-brand .sidebar-brand-icon i {
    font-size: 2rem;
}

.sidebar .sidebar-brand .sidebar-brand-text {
    display: none;
}

.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
}

.sidebar .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 2rem;
}

/* Estilo complementario para el menú lateral */

.sidebar-dark .sidebar-brand {
    color: #fff;
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.sidebar-dark .sidebar-heading {
    color: rgba(255, 255, 255, 0.4);
}

.sidebar-dark .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.sidebar-dark .nav-item .nav-link i {
    color: rgba(255, 255, 255, 0.3);
}

.sidebar-dark .nav-item .nav-link:active,
.sidebar-dark .nav-item .nav-link:focus,
.sidebar-dark .nav-item .nav-link:hover {
    color: #fff;
}

.sidebar-dark .nav-item .nav-link:active i,
.sidebar-dark .nav-item .nav-link:focus i,
.sidebar-dark .nav-item .nav-link:hover i {
    color: #fff;
}

.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
    color: rgba(255, 255, 255, 0.5);
}

.sidebar-dark .nav-item.active .nav-link {
    color: #fff;
}

.sidebar-dark .nav-item.active .nav-link i {
    color: #fff;
}

.sidebar-dark #sidebarToggle {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-dark #sidebarToggle::after {
    color: rgba(255, 255, 255, 0.5);
}

.sidebar-dark #sidebarToggle:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.sidebar-dark.toggled #sidebarToggle::after {
    color: rgba(255, 255, 255, 0.5);
}

/* Estilo footer */
footer.sticky-footer {
    padding: 2rem 0;
    flex-shrink: 0;
}

footer.sticky-footer .copyright {
    line-height: 1;
    font-size: 0.8rem;
}

body.sidebar-toggled footer.sticky-footer {
    width: 100%;
}
