/* Fonts */
@import url('https://fonts.bunny.net/css?family=Nunito');
/* Variables */
@import 'variables';
/* Bootstrap */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

*{
    margin: 0;
    padding: 0;
}


.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#20c74a,#2ba11b);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#d4c81d,#ffcb80);
}

.bg-c-red {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card:hover{
    background: linear-gradient(45deg,#8b7a7a65,#d6d6d6);
    color: black;
}
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 7px;
}

.card-block  p {
    font-size: 1.3em;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

// /* Estilos personalizados */
// .card {
//     margin-bottom: 20px;
// }

// .card-block {
//     padding: 20px;
// }

// .text-right {
//     text-align: right;
// }

// .f-left {
//     float: left;
// }

// .f-right {
//     float: right;
// }

// .estado {
//     font-weight: bold;
// }

// /* Estilos personalizados para el enlace */
// .text-white:hover {
//     color: #ccc; /* Cambia el color del texto al pasar el ratón */
// }

// /* Estilos para los párrafos */
// .card-block p {
//     margin-bottom: 5px;
// }


/* Boton para crear */
#botonCrear {
    text-decoration: none;
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }

  #botonCrear span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  #botonCrear svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  #botonCrear:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }

  #botonCrear:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }

  #botonCrear:hover span {
    transform: translateX(5em);
  }

  #botonCrear:active {
    transform: scale(0.95);
  }

  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }

    to {
      transform: translateY(-0.1em);
    }
  }
